.image-section {
    width: 100vw;
    height: 550px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;

}

.img-text {
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 50px;
    left: 45%;
}
.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 550px;
}
@media only screen and (max-width: 500px) {
    .img-text {
        position: absolute;
        bottom: 10px;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 50px;
        left: 15%;
    }
  }

.endlos-containe {
    width: 100%;
}

.contact-us-section {
    background-color: #ECEDEE;
}
.contact-us-border:hover {
    color: #FF7722;
}
.mail-middle{
    position: relative;
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 100px;
    bottom: 50px;
}
.industries-text-justify{
    text-align: justify;
}