.dropdown-section {
    display: block;
    position: absolute;
    width: 100vw;
    top: 100%;
    left: 0;
    height: 502px;
    background-color: #FFFFFF;
    border: 1px solid rgb(196, 196, 196);
  }
  
  .dropdown-container {
    padding: 0 2rem;
  }
  
  .dropdown-content-width {
    width: 250px;
  }
  
  .font-size {
    font-size: 18px;
    line-height: 24px;
  }
  
  .vertical-rule {
    border-left: 2px solid rgb(196, 196, 196);
    height: 500px;
  }
  
  .scrollable-container {
    height: 500px;
    overflow-x: auto;
    width: 250px;
    padding: 3rem 0;
    border-right: 2px solid rgb(196, 196, 196);
  }
  
  .scrollable-container::-webkit-scrollbar {
    width: 0 !important;
  }
  
  .icon-close {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 2;
  }
  .right-icon{
    transition: right 0.1s linear;
    cursor: pointer;
    padding-right: 1rem;
  }
  .right-icon{
    transform: translateX(8px);
    transition: right 2s linear;
    cursor: pointer;
  }
  
  .box {
    width: 0;
    animation: stretch 700ms ease forwards;
  }
  @keyframes stretch {
    0% {
      width: 0;
    }
    100% {
      width: 250px;
    }
  }   
  .child-block{
    display: block;
    border-right: 2px solid rgb(196, 196, 196);
  }   
  .child-none{
    display: none;
  }   